{
	"database" : {
		"url" : "",
		"database" : "mattermost",
		"user" : "",
		"password" : ""
	},
	"actions" : {
		"export_team_list" : "",
		"export_inactive_users" : false,
		"export_direct_messages" : true
	}
}